<!--The content below is only a placeholder and can be replaced.-->

<div>
        <button [routerLink]="['/Front']" style="font-size: 50px; background-color:pink" align="top"> ChartExplorer </button>
</div>

<br>

<body>   

<div class="jumbotron">
        <nav class="nav navbar-nav" >
             <ul>    
             <a routerLink="/BarCan" routerLinkActive="active">no 1 CanvasJS</a> 
             </ul>
             <ul>
            <a routerLink="/BarFu" routerLinkActive="active">no 2 FusionCharts</a>
             </ul>
             <ul>
                 <a routerLink="/BarNgx" routerLinkActive="active">no 3 Ngx-charts</a>
             </ul>
             <ul>
                 <a routerLink="/BarCharts" routerLinkActive="active">no 4 ChartsJs (rxjs)</a>
             </ul>
             <ul>
                 <a routerLink="/AddPointHC" routerLinkActive="active">no 5 Highcharts</a>
             </ul>
             <ul>
                 <a routerLink="/LeaveC" routerLinkActive="active">Leave a comment</a>
             </ul>

            </nav>
 
        </div>
    </body>

<br>
<br>
<br>
<br>
<br>
<router-outlet></router-outlet>
       










