<div class="page-header">
      <div style="text-align:center">
          <h1>
              Welcome to chart explorer!
            </h1>
    <div>
  </div> 

  <body>

<div class="content">

  <h2>The chart explore webpage is an introduction to 5 different chart extensions for the angular 5 framework. Choose an extension no1-5 and check out the sample chart and code. Feel free to leave a comment and like the page. Thank you for visiting chart explorer!</h2>
  

<br>

<br>
      <div id="chartContainer" style="height: 270px; width: 100%; margin-left:auto;margin-right:auto;">
</div>

</div>

</body>
            
          