<div class="page-header">
    <div style="text-align:center">
            <h1>
            CanvasJS Line Chart
            </h1>
    <div>
 </div>
    
    <body>
    
    <div class="content">
      
          
    <br>

    <div id="chartContainer" style="height: 270px; width: 100%; margin-left:auto;margin-right:auto;">
   </div>
   
      <br>   
       
    <button [routerLink]="['/BarCan']"> Go back to bar chart</button>
       
    </div>
    
    </body>


    <div class="container">
        <h2>
          Where & What code to add in an Angular 5 web application to make this chart example:
            </h2>
          <h3> js service canvasjs.min </h3>
          <p> Please download the javascript service from 
          <a target="_blank" rel="noopener" href="https://canvasjs.com/">canvasJs.com</a>
          . The service provides the CanavasJS object to generate CanvasJS trial version charts.    
      </p>
            
    
            <h3> component.ts </h3>
    
       <p>
            <textarea disabled style="width: 30cm; height: 10cm">  
                
                    import * as CanvasJS from '../canvasjs.min';
    
                    export class LineCanchartComponent implements OnInit {

                        ngOnInit() {
                          var chart = new CanvasJS.Chart("chartContainer", {
                            animationEnabled: true,
                            zoomEnabled: true,
                           title:{
                          text: "Html5 CanvasJs Chart"
                          },
                           axisX: {
                          title:"DummyXaxis",
                          minimum: 0,
                          maximum: 10
                         },
                          axisY:{
                          title: "DummYYaxis", 
                          valueFormatString: "#,##0"
                        }, 
                          data: [{
                            type: "line",
                           name: "MockData",
                           markerType: "none",
                           color: "black",
                           dataPoints: [
                             { x: 0.5, y: 2 },
                             { x: 1, y: 0.5 },
                             { x: 1.5, y: 3.5 },
                             { x: 2, y: 1.5 },
                             { x: 2.5, y: 1 },
                             { x: 3, y: 3 },
                             { x: 3.5, y: 3.5 },
                             { x: 4, y: 6 },
                             { x: 4.5, y: 4.5 },
                             { x: 5, y: 3 },
                             { x: 5.5, y: 4 },
                             { x: 6, y: 5.5 },
                             { x: 6.5, y: 7.5},
                             { x: 7, y: 4 },
                             { x: 7.5, y: 6 },
                             { x: 8, y: 9 },
                             { x: 8.5, y: 6.5 },
                             { x: 9, y: 10 },
                             { x: 9.5, y: 10 },
                             { x: 10, y: 8 },					
                          ]
                          }]
                        });
                         chart.render();
                          
                      
                        }
                      
                      }
                        
                    </textarea>          
        </p> 
        
     
    <h3> html </h3> 
    
            <p>
            <textarea disabled style="width: 30cm; height: 1cm">
            
                &lt;div id="chartContainer" style="height: 270px; width: 100%; margin-left:auto;margin-right:auto;"&gt;&lt;/div&gt;           
    
        </textarea>
    </p>
    
    
    </div>

