/* You can add global styles to this file, and also import other style files */
 html { background-color: rgb(11, 19, 242); } 

 h1{font-size: 50px; background-color: blueviolet}

 h2{font-size: 30px; background-color:papayawhip}



.page-footer{
background-color: plum;
}

.content {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    ;
    
}

.container{
    background-color: azure;
    overflow-y: scroll; 
    height:800px;
    text-align: center;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;

}

 

